@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background: #f7f8f6;
  }

  body {
    min-width: 1180px;
    margin: 0;
    color: #18212f;
    letter-spacing: 0;
  }

  button,
  input,
  textarea {
    font: inherit;
  }
}
